/*
This is a comment
*/

/*
General Form is:

Selected Tag {
  property: value;
}

*/

/*Colors can be names, or codes*/

h1 {
  color: #f2a941;
  text-align: center;
  margin: auto;
  padding: 1% 0 2% 0;
}

body {
  background-color: #39e3fa;
  font-size: 1.1em;
  padding: 0 2.5% 5% 2.5%
}

.mainParent {
  border: 0.5px solid white;
}

.main {
  /*border: 1px solid black;*/
  display: inline-block;
  padding: 1.8em;
}

#main1 {
  /*border: 1px solid black;*/
  padding-top: 5%;
  padding-bottom: 17%;
  margin-left: 5%;
  margin-top: 2%;
}

#main2 {
  /*border: 1px solid black;*/
  margin-left: 11%;
  margin-right: 2%;
}

#main3 {
  /*border: 1px solid black;*/
  margin-right: 5%;
  padding-top: 5%;
  padding-bottom: 15%;
}

#email {
  color: blue;
}

a:visited {
  color: blue;
}

a:active {
  color: darkblue;
}

a:default {
  color: #f29410;
}

#skills {
  text-align: center;
}

h4 {
  color: #f2a941;
}

h5 {
  color: #f2a941;
}

div {
  background-color: #75ebfa;
}

select {
  background-color: #88effc;
}

li {
  color: #2228e0;
}

#text {
  background-color: #75ebfa;
  color: #000000;
  border: 3px dotted rgb(235, 158, 70);
}

* {
  font-family: Arial, Helvetica, sans-serif;
}